# Copyright 2025 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Schema for this config file: ProjectConfig in:
# https://luci-config.appspot.com/schemas/projects:luci-analysis.cfg

metrics {
  overrides {
    metric_id: "builds-with-flakes-in-presubmit"
    show_in_metrics_selector: true
    is_default: true
  }
  overrides {
    metric_id: "monitored-builds-with-test-run-failures"
    show_in_metrics_selector: true
    is_default: true
  }
  overrides {
    metric_id: "critical-failures-exonerated"
    is_default: false
  }
}

clustering {
  # Fuchsia Tests
  test_name_rules {
    name: "Fuchsia Tests"
    pattern: "fuchsia-pkg://fuchsia.com/(?P<package_name>([\\w.-]+))#meta/(?P<resource_path>([\\w.-]+)).cm([/:\\w.-])*"
    like_template: "fuchsia-pkg://fuchsia.com/${package_name}#meta/${resource_path}.cm%"
  }
}

bug_management {
  policies {
    id: "failures-in-ci"
    owners: "carverforbes@google.com"
    human_readable_name: "Notifications for Failures in CI"
    priority: P2
    metrics {
      metric_id: "monitored-builds-with-test-run-failures"
      activation_threshold {
        seven_day: 1
      }
      deactivation_threshold {
        seven_day: 1
      }
    }
    explanation {
      problem_html: "Testing filing bugs with LUCI analysis"
      action_html: "Failures are not expected in this builder. Please investigate this failure."
    }
    bug_template {
      comment_template: "This bug is created as part of a testing migration from flake fetcher to LUCI analysis."
    }
  }
  default_bug_system: BUGANIZER
  buganizer {
    default_component {
      id: 1478143 # Public Trackers > Fuchsia > Infra > FlakeAnalysis
    }
  }
}


