# Copyright 2025 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Schema for this config file: ProjectConfig in:
# https://luci-config.appspot.com/schemas/projects:luci-analysis.cfg

metrics {
  overrides {
    metric_id: "builds-with-flakes-in-presubmit"
    show_in_metrics_selector: true
  }
  overrides {
    metric_id: "monitored-builds-with-test-run-failures"
    show_in_metrics_selector: true
  }
}