# Copyright 2025 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Schema for this config file: ProjectConfig in:
# https://luci-config.appspot.com/schemas/projects:luci-analysis.cfg

clustering {
  # Fuchsia Tests
  test_name_rules {
    name: "Fuchsia Tests"
    pattern: "(fuchsia-pkg://fuchsia.com/(?P<test>([a-zA-Z_-]+)#meta/([a-zA-Z_-]+).cm-([a-zA-Z._-]+))(/*:*)(([a-zA-Z:_-]+)))"
    like_template: "fuchsia_test/${test}"
  }
}
